.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

.formContent {
  width: 500px;
  min-height: 100px;
  margin: 20px auto;
}
